# H1: Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List of popular languages that Data Scientists
- List of commonly used libraries used by Data Scientists
- Table of Data Science Tools
- Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy 
2. Pandas
3. Scikit-learn

|Data Science Tools|
| ------ |
|Rstudio|
|Jupyter Notebook|
|Apache Zeppelin|

### H3: Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
 # This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## H2: Author
Olga Kloufi